<div class="uploadItem">
	<div class="item-wrap">
		<i class="uploadIcon"></i>
		<span class="uploadFilename"></span>
		<div class="uploadProgressBar">
			<progress max="100" value="0"></progress>
			<div class="progress-alt"><img src="<?php echo JURI::root(); ?>media/com_easyblog/scripts_/media/progress.gif"/></div>
		</div>
		<span class="uploadStatus">Pending</span>
		<button class="uploadRemoveButton button"><?php echo JText::_('COM_EASYBLOG_REMOVE'); ?></button>
	</div>
</div>
