<div class="browser">
	<div class="browserHeader">

		<div class="browserNavigation"></div>

		<div class="browserTitle">
			<span class="titleText"></span>

			<span class="titleForm">
				<input type="text" class="titleInput" />
				<button class="renameButton button"><?php echo JText::_('COM_EASYBLOG_MM_RENAME'); ?></button>
				<a class="cancelRenameButton"></a>
			</span>
		</div>

		<div class="browserSearch">
			<i></i>
			<input type="text" class="searchInput" />
		</div>

		<button class="browserDashboardButton button"><i></i><?php echo JText::_('COM_EASYBLOG_MM_BACK_TO_DASHBOARD');?></button>
		<button class="browserUploadButton button"><i></i><?php echo JText::_('COM_EASYBLOG_UPLOAD_BUTTON');?></button>
	</div>

	<div class="browserContent">
		<div class="browserTreeItemGroup">
		</div>
		<div class="browserItemGroup busy">
		</div>
	</div>

	<div class="browserFooter">
		<div class="browserStatus"><i></i><span class="browserMessage"></span></div>

		<div class="browserTreeButtons">
			<button class="browserTreeToggleButton button"><i></i></button>
		</div>

		<div class="browserViewButtons">
			<button class="browserListViewButton button"><i></i></button>
			<button class="browserTileViewButton button active"><i></i></button>
		</div>
	</div>
</div>
