<div class="folderHeader">
	<span class="itemTitle"><@= item.meta.title @></span>
</div>

<div class="folderItemGroup">

	<div class="instructions">
		<span class="emptyFolder"><?php echo JText::_( 'COM_EASYBLOG_MM_EMPTY_FOLDER' );?></span>
		<button class="uploadButton button"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_UPLOAD_TO_FOLDER' );?></button>
	</div>

</div>
